# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

In [2]:
num_float = 6.12

print(num_float)
print(type(num_float))

6.12
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5

result = num1 + num2

print(result)

result += 3
print(result)

7
10

##### Subtraction

In [12]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [13]:
result_prod = num1 * num2
print(result_prod)

result_prod *= 2
print(result_prod)

10
20

##### Division

In [15]:
result_div = 10 / num1
print(result_div)

result_div /= 2
print(result_div)

5.0
2.5

##### Floor Division

In [19]:
# drops off decimals

result_floor = 19//5
print(result_floor)

result_floor //= 2

print(result_floor)

3
1

##### Modulo

In [21]:
# returns remainder

result_mod = 19 % 5
print(result_mod)

result %= 3

print(result_floor)

4
1

##### Exponential

In [16]:
square = 5 ** 2
print(square)

square **= 3
print(square)

25
15625

### String Input-Output

##### String Assignment

In [22]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [23]:
name1 = 'Brian'
print(name1)
print(type(name1))

Brian
<class 'str'>

##### Escape Characters

In [25]:
print('You can\'t do that')

You can't do that

In [32]:
print('Hello \
how are you?')

Hello how are you?

In [33]:
# \n   new line
print("Hello\nhow are you?")

Hello
how are you?

In [34]:
# \t   tab
print("Hello\thow are you?")

Hello	how are you?

In [36]:
# Raw String    r before "  ignores escape chars
print(r"Hello\nhow are you?")

Hello\nhow are you?

##### String Concatenation

In [41]:
first_name = "John"
last_name = "Smith"

full_name = (first_name + " " + last_name)
print(full_name)

full_name += ", Jr."
print(full_name)

John Smith
John Smith, Jr.

In [43]:
num_a = 10
num_b = '10'

add = num_a + num_b

print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [45]:
num_b = '10'
num_b_int = int(num_b)
print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

add = num_b_int + num_a
print(add)

10 <class 'str'>
10 <class 'int'>
20

In [46]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

print(num_a_str + num_b)

10 <class 'int'>
10 <class 'str'>
1010

##### .format() and f-strings

In [49]:
# string.format(*values)

name = 'Brian'
age = 65
home = 'Chicago'

print("Hello my name is {} and I am {} years old and I am from {}.".format(name, age, home))

# f-string put f before ""
print(f"Hello my name is {name} and I am {age} years old and I am from {home}.")

Hello my name is Brian and I am 65 years old and I am from Chicago.
Hello my name is Brian and I am 65 years old and I am from Chicago.

##### Old Way (python 2)

In [51]:
print("Hello my name is %s and I am from %s" % (name, home))

Hello my name is Brian and I am from Chicago

In [52]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [64]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year_int = int(year) + 1

print(f"I drive a {color} {year_int} {make} {model}.")

I drive a blue 2023 Ford Focus.

### Booleans

In [65]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [67]:
bool_f = False
print(bool_f)
print(type(bool_f))

False
<class 'bool'>

### If Statements

In [ ]:
# if <expression>:
#     <statement>

if True:
    print("Hello this is true")

In [ ]:
if False:
    print("Hello this is false")

In [68]:
print('Start of code')

if False:
    print('Hello')
    print('How are you?')
    print('Good, you?')
    
print('End of code.')

Start of code
End of code.

In [70]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 < num2)
print(num1 == num2 * num3)
print(num1 >= num2)
print(num2 != num1/num3)

False
True
True
False

In [72]:
if num1 > num2:
    print(f'{num1} is greater than {num2}')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')
        
if num2 != num1/num3:
    print('num2 does not equal num1 divided by num3')

10 is greater than 5
num1 is equal to num2 times num3

## Using 'and'/'or' with If Statements

In [78]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 > num3:
    print('Both conditions are true')
    
if num1 > num2 or num2 < num3:
    print('At least on condition is true')

Both conditions are true
At least on condition is true

### Else Statements

In [81]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 48

if rider_height > required_height:
    print('Enjoy the ride!')
else:
    print('Bitch go to teacups')

Bitch go to teacups

### Elif Statements

In [86]:
# An elif only runs when the if (or elif) directly above it evaluates to False

required_age = 18
with_parent = 14

guest_age = 15
has_parent = True

if guest_age >= required_age:
    print('Enjoy the movie')
elif guest_age >= with_parent and has_parent:
    print("Enjoy the scary movie with your Daddy. Bitches.")
else:
    print('Bitch get yo Daddy')

Enjoy the scary movie with your Daddy. Bitches.

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [100]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

age = 50


if age < 9:
    print(f"Your ticket price is ${ticket * .5:.2f}")
elif age > 8 and age < 48:    
    print(f"Your ticket price is ${ticket}")
else:
    print(f"Your ticket is ${ticket * .75:.2f}")

Your ticket is $7.50

### Lists

##### Declaring Lists

In [104]:
l_1 = [] # Empty list declaration/assignment

print(l_1)
print(type(l_1))

names = ["Max", "Cindy", "Kathy", "Bob", "Frank", "Natalie", "Jim"]

print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
<class 'list'>

##### Indexing a List

In [115]:
# list[index]
# list[start: stop]
# list[start: stop: step] 

# start is INclusive, stop is EXclusive

# Single Item
print(names[4])
print(names[-1])

# Print the list starting at index 2 and end at index 5
print(names[2:6])

# Print the list starting at index 2 and going to the end
print(names[2:])

# Print the list starting at the beginning and going to the 5th element
print(names[:6])

# Print the list starting at index 1 and ending at index 5 and only every other
print(names[1:6:2])

# Every other element
print(names[::2])

# Reverse the list
print(names[::-1])

Frank
Jim
['Kathy', 'Bob', 'Frank', 'Natalie']
['Kathy', 'Bob', 'Frank', 'Natalie', 'Jim']
['Max', 'Cindy', 'Kathy', 'Bob', 'Frank', 'Natalie']
['Cindy', 'Bob', 'Natalie']
['Max', 'Kathy', 'Frank', 'Jim']
['Jim', 'Natalie', 'Frank', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [123]:
# list.append(value_to_append) - adds value to end of the list

names.append('Brian')
print(names)

['Max', 'Sam', 'Brian']

##### .insert()

In [124]:
# list.insert(index,value) - adds value to the list at index

names.insert(3, "Gabby")
print(names)

['Max', 'Sam', 'Brian', 'Gabby']

##### .pop()

In [125]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Brian


##### .remove()

In [126]:
# value to be removed , not index

names.remove('Bob')

ValueError: list.remove(x): x not in list

##### del()

In [119]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[2]

print(names)

['Max', 'Sam', ['Sally', 'Sue', 'Tameka']]

##### Concatenating Two Lists

In [118]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [117]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

### For Loops

In [127]:
# for <keyword> in <iterable>:
#     <statement>
print('Code start')

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
    print("Hello the x variable is equal to:", x)
    
print('Code end')

Code start
5
Hello the x variable is equal to: 5
10
Hello the x variable is equal to: 10
15
Hello the x variable is equal to: 15
20
Hello the x variable is equal to: 20
25
Hello the x variable is equal to: 25
30
Hello the x variable is equal to: 30
35
Hello the x variable is equal to: 35
40
Hello the x variable is equal to: 40
Code end

In [128]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

##### Continue Statement

In [ ]:
# will continue to next iteration

In [132]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [130]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        break
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

### While Loops

In [ ]:
# while <conditional>:
#     <statement to run while condition is true>

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [ ]:
#Start, Stop, Step

##### len()

In [ ]:
# check Length of variable

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [ ]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>